*, *::before, *::after{
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top, .bottom{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topDropdown {
    position: relative;
    display: inline-block;
}

#topDropdownbtn , #bottomDropdownbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
    width: 10px;
}

.dropdownContent {
    display: none;
    position: absolute;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 206, 206);
    z-index: 1;
}

.topDropdown:hover #topDropdownContent {
    display:flex;
}

.top .dropdownContent {
    top: 16%;
    left: 50.6%;
}

.bottom .dropdownContent {
    top: 83%;
    left: 50.6%;
}

.dropdownContent div {
    width: 5rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.middle {
    display: block;
    height: 30%;
}

.carousel {
    width: 100vw;
    height: 100%;
    position: relative;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, .carousel-button:focus , .dot:hover, .dot.focus, .dot[data-active-dot]{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus , .dot:focus{
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 1.2rem;
    width: 6rem;
    display:flex;
    gap: 0.5rem;
    z-index: 2;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.dot {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}